@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

header{
    color: rgb(237, 0, 0);
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
}
small{
    font-weight: bolder;
    font-size: 12pt;
}
body{
    font-family: le;
    width: 800px;
    margin: 0 auto;
    font-family: 'Lemonada';
}

img#imgDestaque{
    width: 100%;
    height: 1000%;
}
ul#redeSociais{

    display: flex;
    margin: 20px auto 20px auto;
    list-style: none;
    width: 250px;

}
ul#redeSociais li{
    padding: 10px;
}
ul#redeSociais img{
    width: 100%;
    height: 100%;
    margin: 10px;
}